/* Styles pour les écrans de type smartphone avec une largeur maximale de 850px */
@media only screen and (max-width: 850px) {
    .main-container {
        display: flex;
        flex-direction: column;
        /* Affiche les éléments en colonne */
    }
    .menu-container {
        width: 80% !important;
        position: relative !important;
        margin: auto;
        margin-bottom: 25px !important;
        left: 0px !important;
        /* Ajuste la largeur et la position du menu */
    }
    #operation-section,
    .input-section {
        flex-direction: column;
        /* Affiche les sections d'opération et d'entrée en colonne */
    }
}

/* Styles pour le tableau des utilisateurs */
#users {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
     /* Utilise une police sans-serif et un effondrement des bordures */
}

#users td,
#users th {
    border: 1px solid #ddd;
    padding: 8px;
    /* Bordures et padding pour les cellules du tableau */
}

#users tr:nth-child(even) {
    background-color: #f2f2f2;
    /* Couleur de fond pour les lignes paires */
}

#users tr:hover {
    background-color: #ddd;
    /* Couleur de fond au survol des lignes */
}

#users th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #91a4d9;
    color: white;
    /* Styles pour les en-têtes de colonne */
}
/* Styles pour la section des réseaux sociaux dans le pied de page */
.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* Flexbox pour centrer les icônes et ajouter un espacement */
}
.footer-social img {
    width: 30px;
    height: 30px;
    /* Taille des icônes des réseaux sociaux */
}
/* Styles globaux pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    /* Utilise une police sans-serif et un fond gris clair */
}
/* Styles pour le conteneur principal */
.main-container {
    display: flex;
    /* Utilise Flexbox pour le conteneur principal */
}
/* Styles pour le conteneur interne */
.container {
    width: 70%;
    margin: 0px auto 0px auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #fafafa;
    height: 100%;
    min-height: 100vh;
    /* Centrage du contenu avec une largeur fixe et un fond blanc cassé */
}
}
/* Styles pour l'élément principal */
.main-element {
    background-color: #fafafa;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    /* Flexbox pour afficher les éléments en colonne */
}
/* Styles pour le menu */
.menu-container {
    margin-bottom: 10px;
    background-color: #fafafa;
    padding: 10px;
    position: sticky;
    top: 10px;
    left: 50px;
    width: 15%;
    max-height: 100vh;
    /* Styles pour rendre le menu collant et fixe en position */
}
.menu-container .menu {
    width: auto;
    opacity: 1;
    visibility: visible;
    padding: 0;
    border: 0;
    box-shadow: inherit;
    display: flex;
    flex-direction: column;
    line-height: 26px;
    list-style: none;
    /* Styles pour les liens du menu */
}
/* Styles pour les boutons du menu */
.menu-button {
    color: rgb(39, 38, 38);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
    /* Styles pour les boutons avec du padding et une bordure arrondie */
}
.menu-button:hover {
    background-color: #91a4d9a6;
    /* Couleur de fond au survol des boutons */
}
.menu-button.active {
    background-color: #91a4d9a6;
    /* Couleur de fond pour le bouton actif */
}

/* Styles pour l'image dans le conteneur */
.container img {
    width: 200px;
    height: 100px;
    margin-bottom: 20px;
    /* Taille et espacement de l'image */
}

/* Styles pour les titres */
h1 {
    text-align: center;
    background: #91a4d9;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 30px;
     /* Styles pour les titres avec un fond coloré et du padding */
}

/* Styles pour l'en-tête et le pied de page */
header,
footer {
    text-align: center;
    margin-bottom: 20px;
    /* Centrage du texte pour l'en-tête et le pied de page */
}

/* Styles pour les sections d'entrée et d'opération */
.input-section,
#operation-section {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    /* Flexbox pour centrer les éléments avec un espacement */
}
#operation-section {
    margin-top: 20px;
    /* Ajout de marge en haut pour la section d'opération */
}

/* Styles pour les champs de saisie numérique */
input[type="number"] {
    width: 100px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
    margin-top: 10px;
    /* Taille et styles des champs de saisie */
}
select {
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    /* Styles pour les sélecteurs */
}
button {
    padding: 10px 20px;
    background-color: #91a4d9;
    border-radius: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* Styles pour les boutons */
}

button:hover {
    background-color: white;
    color: #91a4d9;
    border: 2px solid #91a4d9;
    /* Styles pour les boutons au survol */
}

/* Styles pour le bouton de soumission */
#submitButton {
    padding: 10px 20px;
    background-color: #91a4d9;
    border-radius: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#submitButton:hover{
    background-color: white;
    color: #91a4d9;
    border: 2px solid #91a4d9;
    /* Styles pour le bouton de soumission au survol */
}


/* Styles pour les tableaux des vecteurs propres */
table.eigenvectors {
    border-collapse: collapse;
    width: 100%;
    /* Effondrement des bordures et largeur à 100% */
}

table.eigenvectors,
table.eigenvectors th,
table.eigenvectors td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 5px;
    /* Bordures et styles pour les cellules du tableau */
}

table.eigenvectors th {
    background-color: #f2f2f2;
    /* Couleur de fond pour les en-têtes de colonne */
}

/* Styles pour les éléments de la page de quiz */
#question {
    margin-bottom: 20px; /* Ajout d'espace en bas de l'élément */
}

#submit {
    margin-top: 20px; /* Ajout d'espace en haut de l'élément */
}

#result {
    margin-top: 20px; /* Ajout d'espace entre question et reponse */
}

/* Styles pour les matrices */
.matrix {
    position: relative;
    /*margin: 0 auto;*/
}

.matrix-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Flexbox pour centrer les matrices */
}

.matrix-container p {
    margin-right: 15px;
    /* Ajout d'espace à droite des paragraphes */
}

.matrix:before,
.matrix:after {
    content: "";
    position: absolute;
    top: 0;
    border: 1px solid #000;
    width: 6px;
    height: 100%;
    /* Bordures pour les côtés des matrices */
}
.matrix:before {
    left: -6px;
    border-right: 0px;
    /* Bordure gauche pour les matrices */
}
.matrix:after {
    right: -6px;
    border-left: 0px;
    /* Bordure droite pour les matrices */
}
.matrix td {
    padding: 5px;
    text-align: center;
    /* Styles pour les cellules des matrices */
}

/* Styles pour les descriptions mathématiques */
#math-descriptions {
    margin-top: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    text-align: justify;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Styles pour le texte dans l'en-tête */
header p {
    background-image: url(maths.jpeg);
    height: 90px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 34px;
    font-weight: bold;
    /* Styles pour le texte de l'en-tête avec une image de fond */
}
/* Styles pour le pied de page */
footer {
    background-color: #91a4d9;
    color: white;
    padding: 10px;
    margin-top: 50px;
    /* Styles pour le pied de page avec une couleur de fond et du padding */
}
/* Styles pour les champs avec des erreurs */
.error {
    border: 2px solid red !important;
    /* Bordure rouge pour les champs en erreur */
}

/* Styles pour le bouton de connexion */
.btn-connexion {
    background-color: transparent;
    border: 2px solid white;
    font-weight: bold;
    /* Bouton de connexion avec fond transparent et bordure blanche */
}
.btn-connexion:hover {
    background-color: white;
    color: #91a4d9;
    /* Styles pour le bouton de connexion au survol */
}


#captchaBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
